:root {
    --report-content-filename-color-text: #F2F4F8;
    --report-content-filepath-color-text: #828598;
    --report-content-background: #1D1E2F;
    --report-error-line: #E55770;
    --report-error-background: #3A2739;
    --report-error-color-text-reason: #F49AA9;
    --report-error-color-text: #E55770;
    --report-success-line: #21A668;
    --report-success-background: #171827;
    --report-success-color-text: #AEF2D3;
    --scrollbar-bar: #828598;
    --scrollbar-background: #171827;
    --report-button-close-color: #FEFEFF;
    --report-button-close-background: #4855E2;
    --loader-bg1: #51d4db;
    --loader-bg2: #c4c4c4;
    --text-main-menu-btn: tomato;
    --bg-main-menu-btn: midnightblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 5vw;
    cursor: default;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 0.5em;
    background: var(--bg-main-menu-btn);
    color: var(--text-main-menu-btn);
    width: 80vw;
    height: 20vh;
    margin: 1em;
    font-weight: bold;
    gap: 3vw;
}

label:hover, .btn:hover {
    filter: brightness(1.5);
}

.buttons {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.aparecer {
    display: flex;
    animation-name: showAnimation;
    animation-duration: 500ms;
}

@keyframes showAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.btn {
    width: 39vw;
    height: 10vh;
    border-radius: 0.5em;
}

label:active, .btn:active {
    filter: brightness(0.8)
}

.confirm {
    background: rgb(84, 196, 84);
    border: 0.1em solid rgb(23, 97, 23);
    color: rgb(23, 97, 23);
}

.cancel {
    background: rgb(214, 101, 124);
    border: 0.1em solid rgb(121, 11, 33);
    color: rgb(121, 11, 33);
}

#logo {
    margin: 1em 0;
    width: 15em;
    height: 5em;
}

.c-loader {
    position: absolute;
    animation: is-rotating 1s infinite;
    border: 1em solid var(--loader-bg2);
    border-radius: 50%;
    border-top-color: var(--loader-bg1);
    height: 50vh;
    width: 50vh;
    transition: 500ms;
}

.content {
    text-align: center;
    transform: scale(1);
    filter: opacity(1);
    transition: 500ms;
}

.show {
    z-index: 10;
}

.hidder {
    transform: scale(0.5);
    filter: opacity(0);
    transition: 500ms;
    z-index: -1;
}

@keyframes is-rotating {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(0.75);
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}

#report-container {
    position: absolute;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    background: var(--report-content-background);
    width: 90%;
    height: 90%;
    padding: 2rem;
    gap: 1rem;
    border-radius: 0.2rem;
    transition: 500ms;
}

#report-content header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
}

#fileName {
    color: var(--report-content-filename-color-text);
}

#filePath {
    color: var(--report-content-filepath-color-text);
}

#report-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
}

.content-validation-result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.content-validation-result.success {
    background: var(--report-success-background);
    color: var(--report-success-color-text);
    border-left: solid var(--report-success-line);
}

.content-validation-result.error {
    background: var(--report-error-background);
    color: var(--report-error-color-text);
    border-left: solid var(--report-error-line);
}

.content-validation-result.error.process #process-report{
    color: var(--report-error-color-text-reason);
}

.content-validation-result.error.process #publication-report{
    color: var(--report-error-color-text);
}

.content-validation-result.error.publication #process-report{
    color: var(--report-error-color-text);
}

.content-validation-result.error.publication #publication-report{
    color: var(--report-error-color-text-reason);
}

#closeReport {
    margin: 1rem;
    color: var(--report-button-close-color);
    background: var(--report-button-close-background);
    border: none;
    border-radius: 0.5rem;
}

#closeReport:hover {
    filter: brightness(1.2);
}

#closeReport:active {
    filter: brightness(0.8);
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

/* Scrollbar */
    #report-content::-webkit-scrollbar {
        width: 0.3rem;
    }

    #report-content::-webkit-scrollbar-track {
        background: var(--scrollbar-background);
    }

    #report-content::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-bar);
        border-radius: 0.5rem;
    }