* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h2, label {
    font-size: 5vw;
    cursor: default;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 0.5em;
    background: midnightblue;
    color: tomato;
    width: 80vw;
    height: 20vh;
    margin: 1em;
    font-weight: bold;
    gap: 1vw;
}

label:hover, .btn:hover {
    filter: brightness(1.5);
}

.buttons {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.aparecer {
    display: flex;
    animation-name: showAnimation;
    animation-duration: 500ms;
}

@keyframes showAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.btn {
    width: 39vw;
    height: 10vh;
    border-radius: 0.5em;
}

label:active, .btn:active {
    filter: brightness(0.8)
}

.confirm {
    background: rgb(84, 196, 84);
    border: 0.1em solid rgb(23, 97, 23);
    color: rgb(23, 97, 23);
}

.cancel {
    background: rgb(214, 101, 124);
    border: 0.1em solid rgb(121, 11, 33);
    color: rgb(121, 11, 33);
}